.top-location {
  cursor: pointer;
  padding: 10px 20px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sideLink  {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ccccccb6;
  cursor: pointer;
  padding: 10px 0 20px;
  width: 93px;



  span {
    font-size: 14px;
  }

  &[data-active] {
    & {
      color: white;

      svg {
        fill: #fff;
      }
    }
  }
}